

.banner-area,.default-header,.dropdown-menu
{
	background: url('./assets/resume_01/images/slider.jpg') no-repeat;	
	background-size: 100%;
	background-size:cover;		
}


#Experience
{
//background-color: #f9f9ff;	
}
#header_text
{
	width:300px;
	padding-left: 25%;
    padding-top: 30%;
    padding-bottom: 30%;
}
#header_title
{
	@media (min-width: 320px) and (max-width: 450px)
	{
		font-size:150%;
	}
	//font-size:330%;
}

#padding_heigh
{
	padding-top:5%;
}


//featureArea.vue
#cetification_img {
	max-width: 50%;
	max-height: 30%;	
	}
#cetification_img
{
			 -webkit-transition: all 0.3s ease 0s;
			 -moz-transition: all 0.3s ease 0s;
			 -o-transition: all 0.3s ease 0s;
			 transition: all 0.3s ease 0s;
			 background-color: #f7f4f4;	
}		
#cetification_img:hover {
	transform: scale(1.3);
  transform-origin: 60% 50%;   
	}



#cetification_imgAll
{
		 -webkit-transition: all 0.3s ease 0s;
		 -moz-transition: all 0.3s ease 0s;
		 -o-transition: all 0.3s ease 0s;
		 transition: all 0.3s ease 0s;
		 background-color: #f7f4f4;	

		
			//position: relative;    
			//margin: auto;
			//overflow: hidden;
			//width: 540px;

			display: relative;
			//margin: 20px;
			//margin: auto;
			border: 1px;
			overflow: hidden; 

		height: 75%;	
	
}	

#cetification_imgAll:hover
{
	background-image: -moz-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
	background-image: -webkit-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);  
	// transform: scale(0.9);	
}


#cetificateLink
{
	font-family: Comic, 'LiHei Pro', fantasy;  
	font-size:1.5em;
	color:#2b6579;
}


//--------------------------------------------------------------------


@media screen and (min-width:692px) and (max-width:892px){
	.rowsss {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		//margin-right: 4%;
		margin-left: 23%;
		margin-bottom: 8%;
	}
	 }
	 @media screen and (max-width:691px){
		 .rowsss {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: 4%;
		margin-left: 4%;
		margin-bottom: 8%;
	}
	 }
	  @media screen and (min-width:893px){
		 .rowsss {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: 4%;
		margin-left: 4%;
		margin-bottom: 8%;
	}
	 }
 
@media screen and (min-width:1025px){
#header_text
{
	width:300px;
	padding-left: 25%;
    padding-top: 30%;
	padding-bottom: 30%;
}

.thim-click-to-bottom {
    position: absolute;
    bottom: 7%;
    left: 50%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
}
.thim-click-to-bottom i {
    color: #fff;
    padding: 20px 10px;
    border: 1px solid;
    border-radius: 20px;
	font-size: 15px;
}

}
@media screen and (max-width:1024px){
#header_text
{
width:400px;
padding-left: 5%;
padding-top: 30%;
padding-bottom: 30%;
}

.thim-click-to-bottom {
    position: absolute;
    bottom: 7%;
    left: 45%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
}
.thim-click-to-bottom i {
    color: #fff;
    padding: 10px 5px;
    border: 1px solid;
    border-radius: 10px;
	font-size: 5px;
}

}


